@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

        .container {  
                max-width: 1350px;  
                width: 100%;  
                margin: 50px;  
                height: auto;  
                display: inline-block 
                }  
                
        body {
        background-image: url("Website_reg.jpeg");   
        background-repeat: no-repeat;
        background-size: 120% 100%;
        font-size: 30px;  
        font-family: "Source Sans Pro", Helvetica, sans-serif; 
        }

        input[type=submit] {
        width: 12em;  height: 2em;
        }  

        h2 {  
        text-align: center; 
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; 
        }  

        .form_group {  
        padding: 10px;  
        align-content: center;    
        display: block;  
        align-self: center;
        font-weight: 600;
        font-style: italic;
        } 

        input {
          width: 30%;
          border: 2px solid black;
          border-radius: 4px;
          height: 40px;
          font-size: large;          
        }

        label {  
        float: left;  
        padding-right: 50px;  
        line-height: 10%;  
        display: block;  
        width: 208px;   
        border: 5px black;
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        }     



#more {
        display:none;
}

        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        button,
        .button {
                -moz-appearance: none;
                -webkit-appearance: none;
                -ms-appearance: none;
                appearance: none;
                -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
                background-color: pink;
                border-radius: 4px;
                border: 0;
                box-shadow: inset 0 0 0 2px #585858;
                /*color: #585858 !important;*/
                color: black;
                cursor: pointer;
                display: inline-block;
                font-size: 0.8em;
                font-weight: 900;
                height: 3.5em;
                letter-spacing: 0.35em;
                line-height: 3.45em;
                overflow: hidden;
                padding: 0 1.25em 0 1.6em;
                text-align: center;
                text-decoration: none;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
                margin-top: 0.5em;
        }
                
                button.readmore,
                .button.readmore{
                        font-size: 0.5em;
                        padding: 0 0.5em 0 0.9em;
                        font-weight: 600;
                }

                input[type="submit"].icon:before,
                input[type="reset"].icon:before,
                input[type="button"].icon:before,
                button.icon:before,
                .button.icon:before {
                        margin-right: 0.5em;
                }

                input[type="submit"].fit,
                input[type="reset"].fit,
                input[type="button"].fit,
                button.fit,
                .button.fit {
                        width: 100%;
                }

                input[type="submit"]:hover,
                input[type="reset"]:hover,
                input[type="button"]:hover,
                button:hover,
                .button:hover {
                        color: #f2849e !important;
                        box-shadow: inset 0 0 0 2px #f2849e;
                }

                input[type="submit"]:active,
                input[type="reset"]:active,
                input[type="button"]:active,
                button:active,
                .button:active {
                        background-color: rgba(242, 132, 158, 0.1);
                }


                input[type="submit"].small,
                input[type="reset"].small,
                input[type="button"].small,
                button.small,
                .button.small {
                        font-size: 0.6em;
                }

                input[type="submit"].large,
                input[type="reset"].large,
                input[type="button"].large,
                button.large,
                .button.large {
                        font-size: 1em;
                }

                input[type="submit"].primary,
                input[type="reset"].primary,
                input[type="button"].primary,
                button.primary,
                .button.primary {
                        box-shadow: none;
                        background-color: #585858;
                        color: #ffffff !important;
                }

                input[type="submit"].white,
                input[type="reset"].white,
                input[type="button"].white,
                button.white,
                .button.white {
                        box-shadow: inset 0 0 0 2px #ffffff;
                        color: #ffffff !important;
                }
                input[type="submit"].purple,
                input[type="reset"].purple,
                input[type="button"].purple,
                button.purple,
                .button.purple {
                        box-shadow: none;
                        background-color: #935d8c;
                        color: #ffffff !important;
                        margin-bottom: 1em;
                }
                input[type="submit"].purple:hover,
                        input[type="reset"].purple:hover,
                        input[type="button"].purple:hover,
                        button.purple:hover,
                        .button.purple:hover {
                                background-color: #f2849e;
                        }

                        input[type="submit"].purple:active,
                        input[type="reset"].purple:active,
                        input[type="button"].purple:active,
                        button.purple:active,
                        .button.purple:active {
                                background-color: #ee5f81;
                        }

                        input[type="submit"].primary:hover,
                        input[type="reset"].primary:hover,
                        input[type="button"].primary:hover,
                        button.primary:hover,
                        .button.primary:hover {
                                background-color: #f2849e;
                        }

                        input[type="submit"].primary:active,
                        input[type="reset"].primary:active,
                        input[type="button"].primary:active,
                        button.primary:active,
                        .button.primary:active {
                                background-color: #ee5f81;
                        }

                input[type="submit"].disabled, input[type="submit"]:disabled,
                input[type="reset"].disabled,
                input[type="reset"]:disabled,
                input[type="button"].disabled,
                input[type="button"]:disabled,
                button.disabled,
                button:disabled,
                .button.disabled,
                .button:disabled {
                        pointer-events: none;
                        opacity: 0.25;
                }


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  background-color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
